content/
*.pdf
*.txt

python basics/.ipynb_checkpoints
2. Data Acquisition/.ipynb_checkpoints
*.html
android_files/
android_version_history.csv
probability Distribution & statistics/
2. Data Acquisition/scrapped_images/
*.ipynb_checkpoints